.footer {
    background-color: #0D0D0C;
    position: relative;
}

.footer .container {
    padding-top: 80px;
    padding-bottom: 15px;
}

.footer__info {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #939393;

    @media screen and (max-width: 594px) {
        font-weight: 400;
        font-size: 14px;
    }
}

.scroll-to-top{
    background-color: #DC56C5;
    border: none;
    padding: 10 12;
    border-radius: 20px;
    color: white;
    position: absolute;
    right: 30px;
    bottom: 30px;
}