@keyframes to-bottom {
    0% {
        transform: translateY(-100px) scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.header {
    background-image: url(../src/img/header.jpg);
    background-size: cover;
    background-position: center;
}

.header .container {
    padding-top: 40px;
    justify-content: center;
    padding-bottom: 192px;

    @media screen and (min-width: 595px) {
        padding-bottom: 183px;
    }

    @media screen and (min-width: 280px) {
        padding-top: 78px;
        padding-bottom: 112px;
    }
}

.header__logo-div {
    width: 238px;
    height: 201px;
    padding-top: 40px;
    padding-left: 40px;
    background: linear-gradient(136.07deg, rgba(196, 196, 196, 0.03) 10.75%, rgba(196, 196, 196, 0) 92.33%);
    backdrop-filter: blur(15px);
    border-bottom-right-radius: 300px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}


.header__title {
    color: #DC56C5;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    margin-bottom: 52px;
    animation: to-bottom 2s;

    @media screen and (max-width: 1049px) {
        font-size: 30px;
        margin-bottom: 27px;
    }

    @media screen and (max-width: 594px) {
        font-size: 18px;
        margin-bottom: 25px;
    }
}

.header__center-div {
    margin-left: auto;
    margin-right: auto;
    width: 575px;
    animation: to-bottom 2s;
    position: relative;

    @media screen and (max-width: 594px) {
        width: 270px;
    }
}

.header__input-searc {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 270px;
    height: 40px;
    padding-left: 30px;
    font-weight: 400;
    font-size: 16px;
    margin-right: 30px;
    color: #e6e6e6;

    @media screen and (max-width: 594px) {
        margin-bottom: 25px;
    }
}

.header__searc-icon{
    position: absolute;
    fill: #e6e6e6;
    top: 50%;
    left: 240px;
    transform: translate(-50%, -50%);
}

.header__input-searc::placeholder {
    color: #e6e6e6;
}

.header__chose-location {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 270px;
    height: 40px;
    padding-left: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #e6e6e6;
}