.main {
    background-color: #0D0D0C;
}

// .main .container {}

.main__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

    @media screen and (max-width: 1049px) {
        gap: 45px 12px;
    }

    @media screen and (max-width: 767px) {
        gap: 30px 4px;
    }
}

.main__item {
    width: 194px;

    @media screen and (max-width: 1049px) {
        width: 190px;
    }

    @media screen and (max-width: 767px) {
        width: 138px;
    }
}


.main__style-div {}

.main__img {
    margin-bottom: 5px;
    width: 180px;
    height: 227px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    object-fit: cover;

    @media screen and (max-width: 767px) {
        height: 161px;
        width: 128px;
    }
}

.main__title {
    color: #DC56C5;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;

    @media screen and (max-width: 767px) {
        font-size: 14px;
    }
}

.main__date {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.main__locate {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    display: block;
    text-align: center;

    @media screen and (max-width: 767px) {
        font-size: 12px;
    }
}

.main__pagination-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5px;
    margin-top: 30px;
}

.main__pagination-item {
    width: 30px;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.main__pagination-button {
    color: #ffffff;
    width: fit-content;
    height: fit-content;
    background: transparent;
    text-align: center;
}

.active {
    color: #DC56C5;
    border: #DC56C5 1px solid;
}

.active-button {
    color: #DC56C5;
}