.bacdrop {
    background-color: rgba(32, 13, 29, 0.6);
    backdrop-filter: blur(1.5px);
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 100;
}

.is-hidden {
    display: none;
}

.modal {
    background-color: #FFF2FD;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 62px;
    width: 930px;
    height: 1023px;
    padding-left: 50px;
    padding-bottom: 62px;
    overflow: scroll;

    @media screen and (max-width: 1049px) {
        width: 595px;
        height: 831px;
    }

    @media screen and (max-width: 594px) {
       
    }
}

.modal::-webkit-scrollbar{
    display: none;
}

.modal_close-button {
    background: transparent;
    border: none;
    outline: 1px red solid;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 30px;
    top: 30px;
}

.modal_event-logo {
    border-radius: 50%;
    width: 132px;
    height: 132px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 43px;
}

.modal_info {
    display: flex;
    flex-wrap: wrap;
}

.modal_poster {
    width: 360px;
    height: 641px;
    margin-right: 60px;

    @media screen and (max-width: 1049px) {
        width: 233px;
        height: 416px;
        margin-right: 30px;
    }

    @media screen and (max-width: 594px) {
       
    }
}

.modal_text-div {
    width: 450px;

    @media screen and (max-width: 1049px) {
        width: 280px;

    }

    @media screen and (max-width: 594px) {
       
    }
}

.modal_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    height: 29px;
    color: #DC56C5;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 7px;
    @media screen and (max-width: 1049px) {
        font-size: 18px;
    }

    @media screen and (max-width: 594px) {
       
    }
}

.modal_text-info {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;

    @media screen and (max-width: 1049px) {
        font-size: 16px;
        max-width: 256px;
    }

    @media screen and (max-width: 594px) {
       
    }
}

.modal_data {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;

    @media screen and (max-width: 1049px) {
        font-size: 16px;
    }

    @media screen and (max-width: 594px) {
       
    }
}

.modal_locate {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;

    @media screen and (max-width: 1049px) {
        font-size: 16px;
    }

    @media screen and (max-width: 594px) {
       
    }
}

.modal_who {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;

    @media screen and (max-width: 1049px) {
        font-size: 16px;
    }

    @media screen and (max-width: 594px) {
       
    }
}

.modal_prices {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;

    @media screen and (max-width: 1049px) {
        font-size: 16px;
    }

    @media screen and (max-width: 594px) {
       
    }
}

.modal_buy {
    background: #4C00FE;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 19px;
}

.modal_buy:first-of-type {
    margin-bottom: 31px;
}

.more_info-button {
    border: 1px solid #4C00FE;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #4C00FE;
    padding: 10px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}